@charset "utf-8";

:root {
  --html-bg-color: #3C3F41;

  --content-color: #DDD;
  --content-bg-color: #1D1F21;

  --border-color-light: #555;
}

/* h1, h2, h3, h4, h5, h6 { color: #faa700; } */
h1, h2, h3, h4, h5, h6 { color: #D89333; }
h1, h2 { border-bottom-color: #333; }
/* h1 { color: #B77FDB; } */
/* h1:first-letter { color: #6C9EF8; } */

a { color: #6C9EF8; }
a:visited { color: #B77FDB; }
a:active { color:#8080FF; }

blockquote {
  color: #a8a8a8;
  border-left-color: #303436;
}

hr {
  border-top-color: #747474;
  border-bottom-color: #3c3c3c;
}

pre, code, kbd, samp { color: #fff; }

.contents li { --first-letter-color: #6C9EF8; }
.contents li .title { color: #B77FDB; }
.contents li code, .contents li .tags code {
  background-color: var(--html-bg-color);
  border-color: #62676a;
}

.article code:not([class*="language-"]) {
  border-color: #62676a;
}
.article .tags code {
  background-color: var(--html-bg-color);
   /* border-color: #62676a; */
  border-color: var(--html-bg-color);
  color: #85A300;
}
.article .tags a:visited,
.article .tags a:active {
  color: #D89333;
}

i, em { color: #EEE; }
b, strong { color: #FFF; }

img {
  /* filter: invert(88%); */
  filter: brightness(.8);
  overflow: auto;
}
/* img[src^="data:image/gif;base64,"], img[src$=".gif"] { filter: invert(0); } */

table th {
  color: #FFF;
  background-color: var(--html-bg-color);
}

#fixedBtns > * { color: #2c84fa; background: #2B2830; }
#fixedBtns > *:hover { background: #26242B; }
#fixedBtns > *:active { background: #242128; }
