<!DOCTYPE html>
<html>

<head>{& INCLUDE header.html %}
  <title>about</title>
</head>

<body>
  <div class="body">
    <div class="header">
      <div class="logo">
        <div class="logoword">QS</div>
        <!-- <div class="logoBg">
          <script>
            for (let i = 0, t = 16; i < t; ++i)
              document.write(`<div class="hexagon" style="--i: ${t - i};"></div>`);
          </script>
        </div> -->
        <div class="logoBg2"></div>
      </div>
      <div class="headerNav">
        <a href="index.html">index</a>
        <a href="tags.html">tags</a>
        <!-- <a href="javascript:void(0);" onclick="retheme();">change theme</a> -->
      </div>
    </div>
    <div>
      {& INCLUDE about.md %}
    </div>{& INCLUDE footer.html %}
  </div>
  <div id="fixedBtns">
    <a href="javascript:void(0);" id="back2top" title="Go to top">^<br/>TOP</a>
    <a href="javascript:void(0);" id="changeTheme" title="change theme"></a>
  </div>
</body>

</html>
