<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" Content ="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#FFF" />
    <title>about</title>
    <link rel="stylesheet" href="./css/layout.css" />
    <link rel="stylesheet" href="./css/theme.css" />
    <script src="./js/index.js"></script>
    <script src="./js/top.js"></script>
</head>
<body><div class="body">
    <div class="header">
        <div class="logo">
            <div class="logoword">QS</div>
            <!-- <div class="logoBg"><script>
                for (let i = 0, t = 16; i < t; ++i)
                    document.write(`<div class="hexagon" style="--i: ${t - i};"></div>`);
            </script></div> -->
            <div class="logoBg2"></div>
        </div>
        <div class="headerNav">
            <a href="index.html">index</a>
            <a href="tags.html">tags</a>
            <a href="javascript:void(0);" onclick="retheme();">change theme</a>
        </div>
    </div>
    <div>
    {about.md}
    </div>
    <div class="footer">
        <ul><li>All rights reserved &copy; qinshou2017@github、jerrychan7@github</li>
            <li>友链:
                <ul>
                    {links}
                </ul>
            </li>
        </ul>
    </div>
</div></body>
</html>
