<!DOCTYPE html>
<html>

<head>{& INCLUDE header.html %}
  <title>index</title>
  <script>
    window.addEventListener("load", () => {
      // contentsItems = {title: "string", time: "ISO 8601", tags: ["string",...], abstract: "string"}
      document.getElementById("contents").innerHTML = `<ul>${[/*contentsItems*/].map(({ tags, title, abstract, time }) =>
        `<li><a class="title" href="./articles/${title}/${title}.html">${title}</a><span class="time">${
          (new Date(time)).toLocaleDateString()
        }</span><span class="tags">${
          tags.map(t => `<a href="./tags.html#tag=${t}"><code>${t}</code></a>`).join("&#09;") // &#09; is tab
        }</span><p class="abstract">${abstract}</p></li>`
      ).join("")}</ul>`;
    });
  </script>
</head>

<body>
  <div class="body">
    <div class="header">
      <div class="logo">
        <div class="logoword">QS</div>
        <div class="logoBg2"></div>
      </div>
      <div class="headerNav">
        <a href="tags.html">tags</a>
        <a href="about.html">about</a>
        <!-- <a href="javascript:void(0);" onclick="retheme();">change theme</a> -->
      </div>
    </div>
    <div class="contents" id="contents"></div>{& INCLUDE footer.html %}
  </div>
  <div id="fixedBtns">
    <a href="javascript:void(0);" id="back2top" title="Go to top">^<br/>TOP</a>
    <a href="javascript:void(0);" id="changeTheme" title="change theme"></a>
  </div>
</body>

</html>
