<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" Content ="width=device-width, initial-scale=1" />
    <title>index</title>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/themeBase.css" />
    <script>
        window.cookie = {
            get(key, defaultValue = null) {
                let allCookies = document.cookie.split(";");
                for (const cki of allCookies) {
                    const [k, v] = cki.trim().split("=", 2).map(decodeURIComponent);
                    if (k == key) return v || "";
                }
                return defaultValue;
            },
            set(key, value, exdays = 365) {
                if (!key) return;
                const d = new Date(), e = encodeURIComponent;
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                document.cookie = e(key) + "=" + e(value) + ";expires=" + d.toUTCString() + ";path=/;samesite=strict";
            },
            del(key) { window.cookie.set(key, "", -1); },
            has: (key) => window.cookie.get(key) != null,
        };
        document.write(`
            <link rel="stylesheet" id="theme" href="/css/theme/${window.cookie.get("theme", "default")}.css" />
            <meta name="theme-color" content="${window.cookie.get("themeColor", "#FFF")}" />
        `);
    </script>
    <script src="/js/index.js"></script>
    <script src="/js/top.js"></script>
    <script>
        // {title: "string", time: "ISO 8601", tags: ["string",...], abstract: "string"}
        var contentsItems = [/*contentsItems*/];
        window.addEventListener("load", function(e) {
            var nodes = [];
            contentsItems.forEach(function(item) {
                var tags = item.tags,
                    title = item.title,
                    time = (new Date(item.time)).toLocaleDateString(),
                    abstract = item.abstract;
                nodes.push("<li><a class=\"title\" href=\"./articles/" + title + "/" + title +".html\">" +
                           title + "</a>" +
                           "<span class=\"time\">" + time + "</span>" +
                           "<span class=\"tags\">" +
                          tags.map(function(t) {
                    return "<a href=\"./tags.html#tag=" + t + "\"><code>" + t + "</code></a>";
                }).join("&#09;") + "</span>" +
                          "<p class=\"abstract\">" + abstract + "</p></li>");
            });
            document.getElementById("contents").innerHTML = "<ul>" + nodes.join("") + "</ul>";
        });
    </script>
</head>
<body><div class="body">
    <div class="header">
        <div class="logo">
            <div class="logoword">QS</div>
            <div class="logoBg2"></div>
        </div>
        <div class="headerNav">
            <a href="tags.html">tags</a>
            <a href="about.html">about</a>
            <a href="javascript:void(0);" onclick="retheme();">change theme</a>
        </div>
    </div>
    <div class="contents" id="contents"></div>
    <div class="footer">
        <ul><li>All rights reserved &copy; qinshou2017@github、jerrychan7@github</li>
            <li>友链:
                <ul>
                    {links}
                </ul>
            </li>
        </ul>
    </div>
</div></body>
</html>
