<!DOCTYPE html>
<html>

<head>{& INCLUDE header.html %}
  <title>index</title>
  <script>
    function hashchange() {
      let hash = window.location.hash.replace("#", "");
      if (~hash.indexOf("tag=")) {
        let tag = decodeURI(hash.split("tag=")[1].split("&")[0]);
        document.getElementById(tag).nextElementSibling.style.display = "block";
      }
    }
    window.addEventListener("hashchange", hashchange);
    const tags_title = { /*tags-title*/ };
    window.addEventListener("load", () => {
      document.getElementById("tags").innerHTML = `<ul>${
        Object.entries(tags_title).reduce((content, [tag, titles]) =>
          content + `<li><h3 id="${tag}"># ${tag}：</h3><ul>${titles.map(t =>
            `<li><a href="./articles/${t}/${t}.html">${t}</a></li>`
          ).join("")}</ul></li>`, "")
      }</ul>`;
      hashchange();
    });
  </script>
</head>

<body>
  <div class="body">
    <div class="header">
      <div class="logo">
        <div class="logoword">QS</div>
        <div class="logoBg2"></div>
      </div>
      <div class="headerNav">
        <a href="index.html">index</a>
        <a href="about.html">about</a>
        <!-- <a href="javascript:void(0);" onclick="retheme();">change theme</a> -->
      </div>
    </div>
    <div id="tags"></div>{& INCLUDE footer.html %}
  </div>
  <div id="fixedBtns">
    <a href="javascript:void(0);" id="back2top" title="Go to top">^<br/>TOP</a>
    <a href="javascript:void(0);" id="changeTheme" title="change theme"></a>
  </div>
</body>

</html>
