@charset "utf-8";

.darktheme meta-theme-color { color: #3C3F41; }

body.darktheme { background-color: #3C3F41; }
.darktheme .body {  color: #DDD; background-color: #1D1F21; }

.darktheme .logoBg2 {
    background: repeating-radial-gradient(at 0 0,
        transparent calc(var(--logoBg2-offset) - 4px), transparent var(--logoBg2-offset),
        #1D1F21 var(--logoBg2-offset), #1D1F21 calc(var(--logoBg2-offset) + 4px));
}
@media (max-width: 768px) {
    .darktheme .logoBg2 {
        background: repeating-radial-gradient(
            transparent calc(var(--logoBg2-offset) - 4px), transparent var(--logoBg2-offset),
            #1D1F21 var(--logoBg2-offset), #1D1F21 calc(var(--logoBg2-offset) + 4px));
    }
}

.darktheme #back2top {
    color: #2c84fa;
    background-color: #2b2830;
    transition: all .2s ease;
}

.darktheme .header { border-bottom-color: #555; }
.darktheme .headerNav a + a { border-left-color: #555; }

.darktheme .footer { border-top-color: #555; }

.darktheme h1,
.darktheme h2,
.darktheme h3,
.darktheme h4,
.darktheme h5,
/*.darktheme h6 { color: #faa700; }*/
.darktheme h6 { color: #D89333; }
.darktheme h1, .darktheme h2 { border-bottom-color: #333; }
/*
.darktheme h1 { color: #B77FDB; }
.darktheme h1:first-letter { color: #6C9EF8; }
*/

.darktheme a { color: #6C9EF8; }
.darktheme a:visited { color: #B77FDB; }
.darktheme a:active{ color:#8080FF; }

.darktheme blockquote {
    color: #a8a8a8;
    border-left-color: #303436;
}

.darktheme hr {
    border-top-color: #747474;
    border-bottom-color: #3c3c3c;
}

.darktheme pre,
.darktheme code,
.darktheme kbd,
.darktheme samp { color: #fff; }

.darktheme .article code:not([class*="language-"]) {
    color: #e74c3c;
    background: #3C3F41;
    border-color: #62676a;
}
.darktheme .article pre:not([class*="language-"]) {
    background: #3C3F41;
    border-color: #62676a;
}
.darktheme .article pre code:not([class*="language-"]) {
    color: #fff;
}

.darktheme .ques-view code,
.darktheme #analysis code {
    background-color: #3C3F41;
    border-color: #62676a;
}
.darktheme .ques-view pre,
.darktheme #analysis pre {
    background-color: #3C3F41;
    border-color: #62676a;
}
.darktheme .ques-view pre code,
.darktheme #analysis pre code {
    color: #fff;
    border: none;
}

.darktheme .ques-view code, .darktheme #analysis code {
    border: 1px solid;
}
.darktheme .ques-view pre, .darktheme #analysis pre {
    border: 1px solid;
}
.darktheme .ques-view pre code, .darktheme #analysis pre code {
    border: none;
}

.darktheme .contents li .title {
    color: #B77FDB;
}
.darktheme .contents li:first-letter {
    color: #6C9EF8;
}
.darktheme .contents li code {
    background-color: #3C3F41;
    border-color: #62676a;
}

.darktheme .article .time {
    color: #999;
}
.darktheme .article .tags code {
    background-color: #3C3F41;
/*    border-color: #62676a;*/
    border-color: #3C3F41;
    color: #85A300;
}
.darktheme .article .tags a:visited,
.darktheme .article .tags a:active {
    color: #D89333;
}

.darktheme b, .darktheme strong {
    color: #EEE;
}
.darktheme img {
    filter: invert(88%);
    overflow: auto;
}
.darktheme img[src^="data:image/gif;base64,"],
.darktheme img[src$=".gif"] {
    filter: invert(0);
}

.darktheme table th {
    color: #c8d4dc;
    background-color: #3C3F41;
}
