<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" Content ="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#FFF" />
    <title>{title}</title>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/prism.css" />
    <script src="/js/index.js"></script>
    <script src="/js/top.js"></script>
    <link rel="stylesheet" href="/css/katex.min.css" />
    <script defer src="/js/katex.min.js" ></script>
    <script defer src="/js/katex-auto-render.min.js" onload="renderMathInElement(document.body);"></script>
    <script>
    window.addEventListener("load", function() {
        var time = {/*time*/};
        document.getElementById("postTime").innerHTML = time.Post? (new Date(time.Post)).toLocaleString(): "Unknow";
        document.getElementById("updateTime").innerHTML = time.Update? (new Date(time.Update)).toLocaleString(): "Unknow";
    });
    </script>
</head>
<body><div class="body">
    <div class="header">
        <div class="logo">
            <div class="logoword">QS</div>
           <div class="rond"><div class="light"></div></div>
        </div>
        <div class="headerNav">
            <a href="/index.html">index</a>
            <a href="/tags.html">tags</a>
            <a href="/about.html">about</a>
            <a href="javascript:void(0);" onclick="retheme();">change theme</a>
        </div>
    </div>
    <div class="article">
        <div class="time">
            Post: <span id="postTime">{Post}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Update: <span id="updateTime">{Update}</span>
        </div>
        <div class="tags">{tags}</div>
        {articleContent}
    </div>
    <div class="footer">
        <ul><li>All rights reserved @qinshou2017</li>
            <li>Links:
                <ul>
                    {links}
                </ul>
            </li>
        </ul>
    </div>
    <script src="/js/prism.js"></script>
</div></body>
</html>
