<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" Content="width=device-width, initial-scale=1" />
  <title>{& ATTR filenameWithoutExt %}</title>
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/themeBase.css" />
  <script>
    window.cookie = {
      get(key, defaultValue = null) {
        let allCookies = document.cookie.split(";");
        for (const cki of allCookies) {
          const [k, v] = cki.trim().split("=", 2).map(decodeURIComponent);
          if (k == key) return v || "";
        }
        return defaultValue;
      },
      set(key, value, exdays = 365) {
        if (!key) return;
        const d = new Date(), e = encodeURIComponent;
        d.setTime(+d + exdays * 24 * 60 * 60 * 1000);
        document.cookie = e(key) + "=" + e(value) + ";expires=" + d.toUTCString() + ";path=/;samesite=strict";
      },
      del(key) { window.cookie.set(key, "", -1); },
      has: (key) => window.cookie.get(key) != null,
    };
    document.write(`
      <link rel="stylesheet" id="theme" href="/css/theme/${window.cookie.get("theme", "light")}.css" />
      <meta name="theme-color" content="${window.cookie.get("themeColor", "#FFF")}" />
    `);
  </script>
  <link rel="stylesheet" href="/css/prism.css" />
  <script src="/js/index.js"></script>
  <link rel="stylesheet" href="/css/katex.min.css" />
  <script defer src="/js/katex.min.js"></script>
  <script defer src="/js/katex-auto-render.min.js"
    onload="renderMathInElement(document.body, {delimiters: [{left: '$$', right: '$$', display: !0}, {left: '$', right: '$', display: !1}, {left: '\\(', right: '\\)', display: false}, {left: '\\begin{equation}', right: '\\end{equation}', display: true}, {left: '\\begin{align}', right: '\\end{align}', display: true}, {left: '\\begin{alignat}', right: '\\end{alignat}', display: true}, {left: '\\begin{gather}', right: '\\end{gather}', display: true}, {left: '\\begin{CD}', right: '\\end{CD}', display: true}, {left: '\\[', right: '\\]', display: true}]});"></script>
  <script>
    window.addEventListener("load", () => {
      const Post = "{& ATTR time.Post %}", Update = "{& ATTR time.Update %}";
      const f = (s, t = (new Date(s)).toLocaleString()) => t !== "Invalid Date"? t: "Unknow";
      document.getElementById("postTime").innerHTML = f(Post);
      document.getElementById("updateTime").innerHTML = f(Update);
    });
  </script>
</head>

<body>
  <div class="body">
    <div class="header">
      <div class="logo">
        <div class="logoword">QS</div>
        <div class="logoBg2"></div>
      </div>
      <div class="headerNav">
        <a href="/index.html">index</a>
        <a href="/tags.html">tags</a>
        <a href="/about.html">about</a>
        <!-- <a href="javascript:void(0);" onclick="retheme();">change theme</a> -->
      </div>
    </div>
    <div class="article match-braces line-numbers">
      <div class="time">
        Post: <span id="postTime">{Post}</span> Update: <span id="updateTime">{Update}</span>
      </div>
      <div class="tags">{& ATTR tags %}</div>
      {& ATTR markdowns\.content %}
    </div>{& INCLUDE footer.html %}
    <script src="/js/prism.js"></script>
  </div>
  <div id="fixedBtns">
    <a href="javascript:void(0);" id="back2top" title="Go to top">^<br/>TOP</a>
    <a href="javascript:void(0);" id="changeTheme" title="change theme"></a>
  </div>
</body>

</html>
